* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

footer {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    color: white;
    padding: 20px 0;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.block2 {
    display: flex;
    justify-content: center;
    align-items: center;
   
    gap: 10px;

}

.block2 img{
    margin-top: 10px;
}

.text{
    font-size: 18px;
   
}

.Link {
    text-decoration: none;
    color: white;
    display: flex;
    gap: 20px;

}

.imgs {
    display: flex;
    align-items: center;
    justify-content: center;
}



footer p {
    font-size: 14px;
    margin-top: 10px;
}



@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        align-items: center;
    }

    .block1 {
        flex-direction: column;
        margin-top: 20px;
    }

    .Link {
        flex-direction: column;
        margin-top: 20px;
    }
}

@media (max-width: 360px) {
    .footer {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .block1 {
        flex-direction: column;
        margin-top: 20px;
        gap: 10px;
    }

    .Link {
        flex-direction: column;
        margin-top: 20px;
        gap: 10px;
    }

    footer p {
        font-size: 12px;
    }

    footer img {
        width: 50px;
    }
}